.comment-box{
	width: 500px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	padding: 10px;
	margin: 20px auto;
}

textarea{
	border: 1px solid rgba(0,12,204,.1);
	border-radius: 5px !important;
	width: 100%;
	margin-bottom: 20px !important;
	padding: 10px;
	outline: none;
	font-size: 18px;
	resize: none;
}

button{
	border-radius: 5px !important;
	color: #aaa;
	padding: 10px 30px;
	border: none !important;
}

button:hover{
	opacity: .8
}

.comment-list{
	width: 500px;
	margin: 20px auto;
}
